@model IEnumerable<FoodItem>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-md-4">
            <img src="/images/food.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">Price: @item.Price</p>
                <p class="card-text">Restaurant: @item.RestaurantName</p>
                <a href="@Url.Action("Edit", "Foods", new { id = item.FoodId})" class="btn btn-primary">Edit</a>
            </div>
        </div>
    }
</div>

